*.swp
app/nacionalclasica
app/rae
app/nacionalfolklorica
app/radionacionalam870
app/radiodesalon
app/nacionalrock/platforms/android/bin/
app/nacionalrock/platforms/android/ant-build/
app/nacionalrock/platforms/android/CordovaLib/bin/
app/nacionalrock/platforms/android/CordovaLib/gen/
app/nacionalrock/platforms/android/gen/
