/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
/* make transparent link selection, adjust last value opacity 0 to 1.0 */
-webkit-tap-highlight-color: rgba(255,0,0,0); 
border: 0; border-image-width: 0!important;
-webkit-user-select: none!important;
-khtml-user-select: none!important;
-moz-user-select: none!important;
-ms-user-select: none!important;
user-select: none!important;
}

/*
@-ms-viewport { width: device-width; height: device-height; }
*/
html {
height: 100%;
background: #000 no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

body {
-webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
-webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
-webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
margin:0;
padding:0;
height: 100%;
}

#wrapper {
        display: none;
}

/* start font-face */
@font-face {
        font-family: "Flaticon";
        src: url("flaticon.eot");
        src: url("flaticon.eot#iefix") format("embedded-opentype"),
        url("flaticon.woff") format("woff"),
        url("flaticon.ttf") format("truetype"),
        url("flaticon.svg") format("svg");
        font-weight: normal;
        font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('Montserrat-Regular.eot');
  src: url('Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
       url('Montserrat-Regular.woff') format('woff'),
       url('Montserrat-Regular.ttf') format('truetype'),
       url('Montserrat-Regular.svg#Montserrat-Regular') format('svg');
}


@font-face {
  font-family: 'Montserrat-Bold';
  src: url('Montserrat-Bold.eot');
  src: url('Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
       url('Montserrat-Bold.woff') format('woff'),
       url('Montserrat-Bold.ttf') format('truetype'),
       url('Montserrat-Bold.svg#Montserrat-Bold') format('svg');
}
/* end font-face */
#loading {
        color: #fff;
        height: 100%;
        padding-top: 50%;
        text-align: center;
        margin: 0 auto;
        display: block;
        background-color: #000;
}

/* Landscape layout (with min-width) */
/*
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
}
*/

/* start blink effect */

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 300ms infinite;
    -webkit-animation:fade 300ms infinite;
}
/* end blink effect */


/*.ui-page { -webkit-backface-visibility: hidden; } */


#wrapper {
-webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
-webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
-webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
margin: 0 auto;
position: absolute;
padding: 0;
width: 100%;
min-height: 100%;
overflow: hidden;
top: 0;
bottom: 0;
/* background-image: url('http://rnadmin.xicnet.com/media/uploaded_images/back_2.jpg'); */
}

.relative-dimensions{ 
        display: -webkit-inline-box; 
        display:inline-block;
        height: 100%; 
        position: relative;
}
.relative-dimensions-icons { 
        height: auto; 
        width: auto; 
        max-height: 100%;
        position: relative; 
} 
.transp-play {height: 100%; max-height: 100%; width: auto; border:none!important; border-image-width:0px!important;} 
.transp-icons {width: 100%; max-width: 100%; height: auto; display: block;} 

.main-container-header,
.main-container-main-content,
.main-container-brand{
        position: relative;
        width: 100%;
        margin: 0;
}
.main-container-footer {
        width: 90%;
        padding-left:5%;
        padding-right:5%;
        margin: 0;
        height: 15%;
        /* position: relative; */
        /* dirty hack para pegar el footer al piso */
        position:absolute;
        bottom:5%;
}


.main-container-header {
        padding-top: 5%;
        height: 15%;
}
.main-container-main-content {
        height: 35%;
        padding-bottom: 5%;
        padding-top: 5%;
}
.main-container-brand {
        height: 15%;
        padding-top: 5%;
}


.main-container-header {
        text-align: center;
}

.infopanel-wrapper {
        width: 100%;
        height: 100%;
}

.infopanel-container {
height: 27%;
width: 90%;
padding-right: 5%;
padding-left: 5%;
display: block;
min-width:90%;
background: rgba(0, 0, 0, 0.5);
visibility: hidden; 
}
.program-info-image-container {
        height: 73%;
        width: 100%;
}

.program-info-image-container img {
        width: 100%;
}

.display-table {
    text-align: center;
        display:table;
        height:100%;
}

.display-table p {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
}


#program-name #name,
#program-presenter #presenter {
        color: white;
        font-weight: bold;
        text-transform: uppercase;
        font-family: 'Montserrat-Bold', Arial, Helvetica;
}
#program-name .display-table .reg-font, #program-presenter .display-table .reg-font  { font-family: 'Montserrat-Regular', Arial, Helvetica;}



.brand-container {
        width: 60%;
        height: 100%;
        margin: 0 auto;
}
.brand-container img {
        width: 100%;
        max-width: 100%;
        height: auto;
}

.links-container {
margin: 0 auto;
height: 100%;
position: relative;
}

.links-wrapper {
        margin: 0 auto;
        width: 100%;
        height: 100%;
        position: relative;
}

.links{
width: 21%;
margin: 0!important;
height: 100%;
border: none;
padding: 0 2%;
outline: 0;
float: left;
}

.play-button{
width: 21%;
margin: 0 auto;
height: 100%;
border: none;
padding: 0 2%;
outline: 0;
}

.clear {
        float: none;
        clear: both;
}

.link4 {
        margin-right: 0!important;
}

.player-container {
width: 35%;
height: 100%;
margin: 0 auto;
}

.program-info {
display: block;
height: 100%;
visibility: hidden;
}
.program-image {
display: block;
visibility: hidden;
}

div#program-name, div#program-presenter {
color: white;
display: block;
height: 50%;
vertical-align: middle;
}
a, a:hover, a:visited, a:active {
        text-decoration: none;
}


.hole {
background-color: rgb(83, 83, 83);
width: 100%;
height: 100%;
margin-left: auto;
margin-right: auto;
top: 5.5%;
-webkit-border-radius: 9999px;
-moz-border-radius: 9999px;
border-radius: 9999px;
z-index: 100;
position: absolute;
}
.button {
z-index: 200;
width: 100%;
height: 100%;
margin-left: auto;
margin-right: auto;
overflow:visible!important;
cursor: pointer;
top: 0%;
position: absolute;
-webkit-border-radius: 9999px;
-moz-border-radius: 9999px;
border-radius: 9999px;
border-width:0px;
border-color:#fff;
border-style:solid;
}

.triangle {
z-index: 1000;
margin: 0 auto;
text-align: center;
display:table;
height:100%;
}


@media screen and (min-width:240px) {
        html { font-size: 50%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }
}
@media screen and (min-width:320px) {
        html { font-size: 66%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }
}
@media screen and (min-width:400px) {
        html { font-size: 83%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }
}
@media screen and (min-width:480px) {
        html { font-size: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }
}
@media screen and (min-width:640px) {
        html { font-size: 133%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }
}
@media screen and (min-width:720px) {
        html { font-size: 150%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }
}
@media screen and (min-width:800px) {
        html { font-size: 166%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }
}
@media screen and (min-width:1025px) {
        html { font-size: 213%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }
}
@media screen and (min-width:1080px) {
        html { font-size: 220%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }
}
@media screen and (min-width:1600px) {
        html { font-size: 330%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }
}
@media screen and (min-width:2500px) {
        html { font-size: 500%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }
}


/* start flaticons.com */



[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
font-family: Flaticon;
font-style: normal;
margin-left: 20px;
}

.flaticon-www:before {
        content: "\e001";
}
.flaticon-email:before {
        content: "\e002";
}
.flaticon-facebook:before {
        content: "\e003";
}
.flaticon-play:before {
        content: "\e004";
}
.flaticon-pause:before {
        content: "\e005";
}
.flaticon-twitter:before {
        content: "\e006";
}



#glyphs {
        clear: both;
}
.glyph {
display: table-cell;
text-align: center;
vertical-align: middle;
}
.glyph .glyph-icon {
        padding: 10px;
        display: block;
        font-family:"Flaticon";
        
}
/* play */
.glyph .glyph-icon.flaticon-play:before {
font-size: 3em;
color: #eee;
margin-left: 6px;
/* line-height: 1; */
}
/* loading */
.glyph .glyph-icon.flaticon-turn4:before {
        font-size: 3.5em;
        color: #eee;
        margin-left: 0;
}
/* stop-pause */
.glyph .glyph-icon.flaticon-pause:before {
        font-size: 3em;
        color: #eee;
        margin-left: 0;
}
.glyph .glyph-icon.glyph-icon-facebook-n-twitter:before {
        font-size: 2em;
        color: #eee;
        margin-left: 0;
        line-height:1.5em;
}
.glyph .glyph-icon.glyph-icon-web-n-envelope:before {
        font-size: 3em;
        color: #eee;
        margin-left: 0;
        line-height:1.0em; /* Added to center icons within button for iOS */
}

.glyph > input {
        display: block;
        width: 100px;
        margin: 5px auto;
        text-align: center;
        font-size: 12px;
        cursor: text;
}
.glyph > input.icon-input {
        font-family:"Flaticon";
        font-size: 16px;
        margin-bottom: 10px;
}
/* end flaticons.com */

/* start SPIN */
.fa-spin {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(360deg);
  }
  100% {
    -moz-transform: rotate(0deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(360deg);
  }
  100% {
    -o-transform: rotate(0deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
/* end SPIN */

