/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    margin:0px;
    padding:0px;
}


/* Landscape layout (with min-width) */
/*
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
}
*/

h1 {
    margin:0px;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}



/*.ui-page { -webkit-backface-visibility: hidden; } */


#one {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}


body div#wrapper {
	margin: 0 auto;
	position: relative;
	padding: 0;
	background-color: black;
	width: 100%;
	height: 100vh;
}

.main-container-header,
.main-container-main-content,
.main-container-brand,
.main-container-footer {
	position: relative;
	width: 90%;
	margin: 0 5%;
}

.main-container-header {
	height: 20%;
}
.main-container-main-content {
	height: 45%;
}
.main-container-brand {
	height: 20%;
}
.main-container-footer {
	height: 15%;
}


.main-container-header {
	background-color: red;
	text-align: center;
}
.main-container-main-content {
	background-color: green;
}
.main-container-brand {
	background-color: blue;
}
.main-container-footer {
	background-color: yellow;
}

.main-container-header,
.program-info-container,
.program-info-image-container,
.brand-container,
.links-container,
{
}

.program-info-container {
	background-color: brown;
	height: 80px;
	width: 100%;
}
.program-info-image-container {
	background-color: cyan;
	height: 290px;
	width: 100%;
}
.brand-container {
	background-color: grey;
	width: 60%;
	height: 150px;
	margin: 0 auto;
}
.links-container {
	background-color: silver;
	width: 60%;
	margin: 0 auto;
	height: 100%;
}

.player-container {
	width: 150px;
	height: 150px;
	background-color: magenta;
	margin: 0 auto;
}
